@media (max-width: 376px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }


    .header{
        padding-bottom: 238px;
    }

    .title{

        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;

        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;

        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .link{
        margin-left: 70px;
    }

    .for {
        padding-top: 128px;
        padding-bottom: 128px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3, 1fr);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
      }
      .for_item_n {
        grid-column: 1 / -1;
        
        max-width: 343px;
        width: 343px;
        height: 300px;
      }

    .top_text{
        width: 343px;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;      
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }

    .top_text>span{
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }

    .a_header{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
    }


    
    .picture_game1{
        display: none;
    }

    .picture_game2{
        display: none;
    }

    .picture_game1-mobile{
        max-width: 344px;
        max-height: 236px;
        display: block;
    }

    .picture_game2-mobile{
        max-width: 344px;
        max-height: 236px;
        display: block;
    }
    .seasons{
        padding-top: 51px;
        align-items: flex-start;
    }

    .seasons_game{
        padding-bottom: 63px;
    }
   
    .button-seasons_game{
        margin-left: 70px;
        margin-right: 70px;
    }

    .title-seasons_game{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .text-seasons_game{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        width: 343px;
    }

    .seasons{
        padding-top: 178px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .remember{
        padding-top: 136px;
        padding-bottom: 90px;
        padding-top: 178px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

}


